section.sectionFooter
	.footer
		.footerNav
			ul.footerNavList
				li.footerNavLink
					a(href="#") Hakkımızda
				li.footerNavLink
					a(href="#") Kurumsal Kimlik
				li.footerNavLink
					a(href="#") Aksa'dan Haberler
				li.footerNavLink
					a(href="#") İletişim Formu
				li.footerNavLink
					a(href="#") Bayi Girişi
		.footerContact
			h3.contactTitle Aksa Jeneratör Sanayi A.Ş.
				p.contact Genel Müdürlük
				p.contact Rüzgarlıbahçe Mahallesi, 
				p.contact Özalp Çıkmazı No:10 34805 Kavacık 
				p.contact Beykoz - İSTANBUL / TÜRKİYE
				p.contact T: + 90 216 681 00 00
				p.contact F: + 90 216 681 57 91
				p.contact aksa@aksa.com.tr
		.footerLogo
			img.footerLogoImg(src="../img/cagri-merkezi.png", alt="")
			.footerIcon 
				h4.footerIconTitle Bizi Takip Edin
				.footerIconFas
					.iconLink
						a.fab.fa-facebook-f(href="#")
					.iconLink
						a.fab.fa-twitter(href="#")
					.iconLink
						a.fab.fa-instagram(href="#")
					.iconLink
						a.fab.fa-linkedin-in(href="#")
	.footerFooter
		.footerLinks
			p.footerLinksText 2016 AKSA JENERATÖR SAN A.Ş. Tüm hakları saklıdır..
			a.footerLinksLink(href="#") Bilgi Toplumu Hizmetleri
			a.footerLinksLink(href="#") Kullanım Koşulları ve Gizlilik Politikası
			a.footerLinksLink(href="#") Etik İlkeler
		.footerImage
			img.footerImageImg(src="../img/kazanci-holding-logo.png", alt="")