<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.navbar
		.navbarWrap
			.navBarLogo
				img(src="../img/logo.png", alt="logo")
			.navBarList
				ul.navList
					li.navItem KURUMSAL
						.linkWrap 
							a.link(href="#") Hakkımızda
							a.link(href="#") Kazancı Holding
							a.link(href="#") Tarihçe
							a.link(href="#") Kurumsal Yayınlar
							a.link(href="#") Kurum Kültürü
							a.link(href="#") Kurumsal Kimlik
							a.link(href="#") Yönetim Kurulu
							a.link(href="#") Şirket Bilgileri
							a.link(href="#") Aksa ve Çevre
							a.link(href="#") İnsan Kaynakları
							a.link(href="#") Kalite Politikamız
					li.navItem  Teknik Bilgiler
						.linkWrap
							a.link(href="#") Ürün Kataloğu
							a.link(href="#") Teknik Föyler
							a.link(href="#") Ürün Broşürü
							a.link(href="#") Kullanım Kitapçıkları
							a.link(href="#") Sertifika
					li.navItem  Benim Çözümüm
						.linkWrap
							a.link(href="#") Nasıl Bir Jeneratör Evimin İhtiyacını Karşılar?
							a.link(href="#") Nasıl Bir Jeneratör İş Yerimin İhtiyacını Karşılar?
							a.link(href="#") Jeneratör Rehberi
					li.navItem  Ürünler
						.linkWrap
							a.link(href="#") Dizel Jeneratörler
							a.link(href="#") Portatif Jeneratörler
							a.link(href="#") Doğal Gazlı Jeneratörler
							a.link(href="#") Marin
							a.link(href="#") Aydınlatma Kuleleri
					li.navItem Haberler
						.linkWrap
							a.link(href="#") Aksa'dan Haberler
							a.link(href="#") Enflasyonla Mücadele
							a.link(href="#") Fuarlar
							a.link(href="#") Sponsorluklar
							a.link(href="#") Videolar
					li.navItem Hizmetler
						.linkWrap
							a.link(href="#") Jeneratör Kiralama
							a.link(href="#") 2. El Jeneratör Alım - Satım
							a.link(href="#") AGRP
							a.link(href="#") Satış Sonrası Hizmetler 
					li.navItem  AKSA PREMIUM
						.linkWrap
							a.link(href="#") Uzaktan İzleme Sistemleri
							a.link(href="#") Paralel Sistemler
							a.link(href="#") Büyük Projeler
							a.link(href="#") Kojenerasyon-Trijenerasyon Sistemler
							a.link(href="#") Hibrit Jeneratör
							a.link(href="#") Referanslar