<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.navBar
		.navBarWrap
			.navBarLogo
				img.logogImg(src="../img/logo.png", alt="logo")
			.navBarList
				ul.navList
					li.navItem KURUMSAL
						span.fas.fa-sort-down
						div.linkWrap1
							p.link
								a(href="#") Hakkımızda
							p.link
								a(href="#") Kazancı Holding
							p.link
								a(href="#") Tarihçe
							p.link
								a(href="#") Kurumsal Yayınlar
							p.link
								a(href="#") Kurum Kültürü
							p.link
								a(href="#") Kurumsal Kimlik
							p.link
								a(href="#") Yönetim Kurulu
							p.link
								a(href="#") Şirket Bilgileri
							p.link
								a(href="#") Aksa ve Çevre
							p.link
								a(href="#") İnsan Kaynakları
							p.link
								a(href="#") Kalite Politikamız
					li.navItem  Teknik Bilgiler
						span.fas.fa-sort-down
						div.linkWrap2
							p.link
								a(href="#") Ürün Kataloğu
							p.link
								a(href="#") Teknik Föyler
							p.link
								a(href="#") Ürün Broşürü
							p.link
								a(href="#") Kullanım Kitapçıkları
							p.link
								a(href="#") Sertifika
					li.navItem  Benim Çözümüm
						span.fas.fa-sort-down
						div.linkWrap3
							p.link
								a(href="#") Nasıl Bir Jeneratör Evimin İhtiyacını Karşılar?
							p.link
								a(href="#") Nasıl Bir Jeneratör İş Yerimin İhtiyacını Karşılar?
							p.link
								a(href="#") Jeneratör Rehberi
					li.navItem  Ürünler
						span.fas.fa-sort-down
						div.linkWrap4
							p.link
								a(href="#") Dizel Jeneratörler
							p.link
								a(href="#") Portatif Jeneratörler
							p.link
								a(href="#") Doğal Gazlı Jeneratörler
							p.link
								a(href="#") Marin
							p.link
								a(href="#") Aydınlatma Kuleleri
					li.navItem Haberler
						span.fas.fa-sort-down
						div.linkWrap5
							p.link
								a(href="#") Aksa'dan Haberler
							p.link
								a(href="#") Enflasyonla Mücadele
							p.link
								a(href="#") Fuarlar
							p.link
								a(href="#") Sponsorluklar
							p.link
								a(href="#") Videolar
					li.navItem Hizmetler
						span.fas.fa-sort-down
						div.linkWrap6
							p.link
								a(href="#") Jeneratör Kiralama
							p.link
								a(href="#") 2. El Jeneratör Alım - Satım
							p.link
								a(href="#") AGRP
							p.link
								a(href="#") Satış Sonrası Hizmetler 
					li.navItem  AKSA PREMIUM
						span.fas.fa-sort-down
						div.linkWrap7
							p.link
								a(href="#") Uzaktan İzleme Sistemleri
							p.link
								a(href="#") Paralel Sistemler
							p.link
								a(href="#") Büyük Projeler
							p.link
								a(href="#") Kojenerasyon-Trijenerasyon Sistemler
							p.link
								a(href="#") Hibrit Jeneratör
							p.link
								a(href="#") Referanslar
					li.navItem  İletişim
						span.fas.fa-sort-down
						div.linkWrap8
							p.link
								a(href="#") Genel Müdürlük
							p.link
								a(href="#") Satış Noktaları
							p.link
								a(href="#") Servis Noktaları
							p.link
								a(href="#") Kiralama 2. El Satış Noktaları
							p.link
								a(href="#") Üretim Tesisleri
							p.link
								a(href="#") Dünyada AKSA
							p.link
								a(href="#") İletişim Formu
							p.link
								a(href="#") S.S.S.