.span
	.spanTitle
		p.top ____________________________________________________________________________________________________
		h2.spanText Türkiye'yi Hayata Bağlayan Enerji Devi
		p.bottom _____________________________________________________________________________________________________
	.homeText
		h1.homeTextTitle Jeneratör Bir Kere Alınır, Aksa’dan Alınır!
		p.homeTextText Ev ya da iş yerinize en uygun jeneratörü belirleyelim ve bundan sonra hayatınız kesintilere karşı Aksa güvencesi ile kaldığı yerden devam etsin...
		button.homeTextLink SİZE UYGUN 
			br
			span JENERATÖR İÇİN ARAYALIM