.sectionFooter
	width: 100%
	height: 100%
	background: #333
.footer
	display: flex
	border-bottom: 1px solid #898989
	padding-bottom: 2%
.footerNav
	margin-left: 15%
	margin-top: 3%
.footerNavList
	list-style: none
	text-transform: uppercase
	font-size: 1.1rem
.footerNavLink
	margin-top: .5rem
.footerNavLink a
	color: #fff
	&:hover
		color: #fff
		text-decoration: none
.footerContact
	margin-top: 3%
	margin-left: 4%
.contactTitle
	color: #fff
	font-size: 1.1rem
	font-weight: normal
.contact
	font-weight: normal
	color: #737f7f
	margin-bottom: 0
	font-size: 1rem
	&:first-child
		margin-top: 1rem
		font-weight: bold
.footerLogo
	float: right
	width: 30%
	margin-top: 3%
	margin-left: 10%
.footerLogoImg
	margin-left: 5.5rem
.footerIcon
	color: #fff
	font-size: .7rem
.footerIconTitle
	margin-left: 4rem
	margin-top: 5%
	font-weight: normal
.footerIconFas
	display: flex
.fab
	font-size: 1.6rem
	text-align: sub
	margin-top: 50%
	transform: translateY(-50%)
	color: #6b6c6f
	transition: .3s
	&:hover
		color: #fff
		text-decoration: none
.iconLink
	width: 50px
	height: 50px
	border: 1px solid #6b6c6f
	margin-right: 1.5rem
	text-align: center
	cursor: pointer
	transition: .3s
	&:hover
		border: 1px solid #fff
.footerFooter
	width: 80%
	margin: 0 auto
	display: flex
	padding-bottom: .9rem
.footerLinks
	width: 50%
.footerLinksText
	margin-bottom: 0
	color: #fff
	font-size: .8rem
	margin-top: .9rem
.footerLinksLink
	color: #677869
	font-size: .8rem
	margin-right: 1rem
	&:hover
		color: #fff
		text-decoration: none
.footerImage
	width: 50%
.footerImageImg
	float: right
	margin-right: 90px
	margin-top: 4%
