.navBar
	width: 100%
	margin: 0
	padding: 0
.navBarWrap
	display: flex
	align-items: center
	width: 100%
	height: 150px
	margin: 0
	padding: 0
	background: #222
.navBarLogo
	width: 21%
	text-align: center
.navBarList
	width: 85%
	color: #fff
.navList
	display: flex
	list-style: none
	text-transform: uppercase
	font-family: Arial
	float: right
	margin-top: 1rem
.navItem
	display: flex
	justify-content: center
	align-items: center
	margin-right: 1.5rem
	position: relative
	font-size: .9rem
	&:hover
		.linkWrap1
			display: block
		.linkWrap2
			display: block
		.linkWrap3
			display: block
		.linkWrap4
			display: block
		.linkWrap5
			display: block
		.linkWrap6
			display: block
		.linkWrap7
			display: block
		.linkWrap8
			display: block
.linkWrap1
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 12.2rem
.linkWrap2
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 13.5rem
.linkWrap3
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 28rem
.linkWrap4
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 16rem
.linkWrap5
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 14.5rem
.linkWrap6
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
	width: 16.2rem
.linkWrap7
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
.linkWrap8
	display: none
	padding: 0 1.3rem 0 1.3rem
	position: absolute
	top: 2rem
	left: 50%
	transform: translateX(-50%)
	background: #3d3d3d
	list-style: none
.linkItem
	width: 100%
	&:hover
		background: #999
.link
	color: #fff
	width: 100%
.fa-sort-down
	font-size: 1.5rem
	white-space: nowrap